.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  /* margin-top: 20px; */
}
.header .header__title {
  font-size: 24px;
  font-weight: 600;
}
.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  /* 검색 채팅 세팅아이콘은 링크가 연결되어있는것들이니까  아이콘에 대보면 포인터가 변한다 */
}
.header .header__header-column {
  display: flex;
  align-items: center;
}
.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
