.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
  /* opacity로 색의 70%정도만 주도록 */
}
.status-bar i {
  font-size: 14px;
}
.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
