@import "reset.css";
@import "status-bar.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600,700&display=swap");
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";

* {
  box-sizing: border-box;
  /* padding을 추가하되 전체 box사이즈는 추가시키고 싶지않을 때 사용
  지금은 패딩이 content를 밀어내기때문에 사용한다
  */
}

body {
  background-color: white;
  padding: 10px 20px; /*위아래 10px 좌우 20정도*/
  columns: #020202;
  font-family: "Open sans";
}
a {
  color: inherit;
  text-decoration: none;
}
